* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

/* CSS for Header nav */
header {
  background-image: url(../img/MaskGroupPurple-min.png);
  background-size: cover;
  padding: 63px 150px 0;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav h1 {
  color: white;
  font-size: 29px;
  font-weight: 700;
}

header nav .buttonlanding {
  height: 45px;
}

header nav .buttonlanding button {
  height: 100%;
  padding: 0 30px;
  border-radius: 12px;
  margin-left: 30px;
}

header nav .buttonlanding button a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

header nav .buttonlanding button .a-login {
  color: white;
}

header nav .buttonlanding button .a-sign {
  color: #4C3575;
}

header nav .buttonlanding button.b-login {
  background-color: #4C3575;
  border: 1px solid white;
}

header nav .buttonlanding button.b-sign {
  background-color: white;
  border: 1px solid #6379f4;
}

header main div div.aside button a {
  color: #4C3575 !important;
}







.home-wallet {
  text-decoration: none;
  font-weight: 700;
  color: white;
  font-size: 29px;
}

.cover {
  background-image: url(/src/assets/img/Mask-Group-Purple-min.png);
  background-repeat: no-repeat;
}

.marleft-40px {
  margin-left: 40px;
}

.martop-30px {
  margin-top: 30px;
}

.martop-40px {
  margin-top: 40px;
}

.martop-120px {
  margin-top: 120px;
}









.color-3A3D42 {
  color: #3A3D42;
}

.color-3A3D4299 {
  color: #3A3D4299;
}

.ent-email {
  color: #88888F !important;
  background-color: #371B58 !important;
}

.ent-email:hover {
  color: white !important;
  background-color: #371B58 !important;
}

.color-88888F {
  color: #88888F;
}

.color-3A3D42 {
  color: #3A3D42;
}

.color-web {
  color: #4C3575 !important;
}

.color-A9A9A999 {
  color: #A9A9A999;
}

















.bg-web {
  background-color: #6379F4;
}

.bg-DADADA {
  background-color: #DADADA;
}

.sign-hover {
  border: unset !important;
  background-color: #6379F4 !important;
  color: #88888F !important;
}

.sign-hover:hover {
  background-color: #6379F4 !important;
  border: unset;
  color: white !important;
}

.btn-secondary {
  background-color: #DADADA !important;
  border: unset !important;
  box-shadow: unset !important;
}

.btn-secondary:hover {
  background-color: #6379F4 !important;
  border: unset !important;
  box-shadow: unset !important;
}














.form-pin:focus {
  box-shadow: unset !important;
  border: 1px solid gray;
}

.form-pin {
  text-align: center;
  display: block;
  width: 100%;
  padding: 0.60rem 0.01rem !important;
  font-size: 30px !important;
  font-weight: 700 !important;
  line-height: 1.5;
  color: #3A3D42 !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 10px !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}












.fs-13px {
  font-size: 13px;
}

.fs-14px {
  font-size: 14px;
}

.fs-16px {
  font-size: 16px;
}

.fs-18px {
  font-size: 18px;
}

.fs-24px {
  font-size: 24px;
}

.fs-29px {
  font-size: 29px !important;
}

.fs-40px {
  font-size: 40px;
}

.fs-42px {
  font-size: 42px;
}













.pad-bot-10px {
  padding-bottom: 10px;
}











.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}



.line-height-32px {
  line-height: 32.74px;
}

.line-height-30px {
  line-height: 30px;
}













.u-none {
  text-decoration: none;
  color: #6379F4 !important;
}

.have-signup {
  text-decoration: none;
  color: #4C3575 !important;
}















/* FORM */
#form {
  border: unset;
  border-bottom: 1px solid gray;
  border-radius: unset;
  background-color: transparent;
}

.form {
  border: unset;
  border-bottom: 1px solid gray;
  border-radius: unset;
  background-color: transparent;
}

#form:focus {
  box-shadow: unset;
  border-bottom: 1px solid gray;
}

.a-menu {
  text-decoration: none;
  font-weight: 700;
  color: rgba(58, 61, 66, 0.8);
  font-size: 18px;
}

.a-menu:hover {
  text-decoration: none;
  font-weight: 700;
  color: #6379F4;
  font-size: 18px;
}

.inp-logo {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: unset !important;
  border: unset !important;
  border-bottom: 1px solid gray !important;
  border-radius: unset !important;
}











/* CSS for Header Main */
header main {
  display: flex;
  justify-content: space-between;
}

header main div div.aside {
  margin-top: 140px;
}

header main div div.aside h1 {
  font-size: 60px;
  color: white;
  font-weight: 600;
}

header main div div.aside p {
  margin-top: 40px;
  font-size: 18px;
  color: white;
  font-weight: 400;
}

header main div div.aside button {
  margin-top: 50px;
  background-color: white;
  border: 1px solid #6379f4;
  padding: 15px 0;
  border-radius: 12px;
}

header main div div.aside button a {
  text-decoration: none;
  margin: 40px;
  font-weight: 700;
  font-size: 18px;
  color: #6379F4;
}

section img {
  width: 100%;
}

section.partners {
  padding-bottom: 0 !important;
}


/* MAIN */
main.about {
  background-color: #E5E5E5;
  padding-top: 120px;
  padding-bottom: 120px;
}

main.about div.h1 {
  text-align: center;
}

main.about div.h1 h1 {
  font-size: 60px;
  font-weight: 700;
}

main.about div.h1 h1 span {
  color: #7858A6;
}

main.about div.p {
  margin-top: 30px;
  text-align: center;
}

main.about div.p p {
  font-size: 18px;
}

main.about div.row-card {
  padding: 0 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

main.about div.row-card div.card div.img {
  display: flex;
  justify-content: center;
}

main.about div.row-card div.card div.img .i {
  color: #4C3575;
  background-color: rgba(98, 86, 225, 0.1);
  padding: 18px;
  border-radius: 50%;
}

main.about div.row-card div.card {
  background-color: white;
  text-align: center;
  padding-bottom: 30px;
  margin: 70px 11px 0;
  box-shadow: 0px 4px 250px rgba(172, 172, 172, 0.15);
  border-radius: 25px;
}

main.about div.row-card div.card div.img {
  margin-top: 40px;
}

main.about div.row-card div.card p.support {
  margin-top: 35px;
  font-size: 24px;
  font-weight: 700;
  color: #3A3D42;
}

main.about div.row-card div.card p.contact {
  margin-top: 35px;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  color: #3A3D42;
}

/* ARTICLE */
article {
  background-color: rgba(71, 58, 209, 0.06);
}

article div.rowart {
  display: flex;
  justify-content: space-between;
}

article div.rowart div.colart-1 {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}

article div.rowart div.colart-2 div h1 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 174px;
  margin-left: 50px;
}

article div.rowart div.colart-2 div h1 span {
  color: #7858A6;
}

article div.rowart div.colart-2 .ul-features {
  padding-top: 40px;
  margin-left: 50px;
  margin-right: 250px;
}

article div.rowart div.colart-2 .ul-features .li-features {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

article div.rowart div.colart-2 .ul-features .li-features p {
  margin-bottom: 20px;
}

article div.rowart div.colart-2 .ul-features .title {
  font-weight: 700;
  color: #3A3D42;
}

article div.rowart div.colart-2 .ul-features .title span {
  color: #7858A6;
}




/* SUMMARY */
summary {
  background-color: #E5E5E5;
  text-align: center;
  padding-top: 120px;
}

summary div h1 {
  font-size: 60px;
  font-weight: 700;
}

summary div h1 span {
  color: #7858A6;
}

summary div p {
  font-size: 18px;
  margin-top: 30px;
}

summary div.people {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 120px;
}

summary div.people div.figure {
  margin-top: 60px;
  box-shadow: 0px 5px 70px rgba(197, 197, 197, 0.15);
  border-radius: 30px;
  background-color: white;
  padding: 60px 60px;
}

summary div.people div h1 {
  margin-top: 30px;
  font-size: 26px;
  color: #373C46;
  margin-bottom: 9px;
}

summary div.people div.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

summary div.people div.arrow .colarrow {
  background-color: #FFFFFF;
  padding: 18px;
  box-shadow: 0px 5px 70px rgba(149, 148, 148, 0.15);
  border-radius: 20px;
  color: #3A3D42;
}

summary div.people div span {
  color: #56585B;
  font-size: 20px;
}

summary div.people div p {
  margin-top: 45px;
}



/* FOOTER */
.foot-last {
  background-color: #371B58;
  color: white;
}


footer {
  background-color: #4C3575 !important;
  padding-top: 80px;
  padding-right: 150px;
  padding-bottom: 78px;
}

footer div span.footer {
  color: white;
  font-size: 36px;
  font-weight: 700;
  margin-left: 150px;
}

footer div p {
  color: white;
  font-size: 18px;
  margin-left: 150px;
  margin-top: 30px;
}

footer div hr {
  color: white;
  font-size: 18px;
  margin-left: 150px;
  margin-top: 50px;
}


footer div span {
  color: white;
  font-size: 16px;
  margin-left: 150px;
}

footer div.contact {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

footer div.numb {
  display: flex;
}



















@media screen and (max-width: 768px) {
  header {
    background-image: url(../img/MaskGroupPurple-min.png);
    background-size: cover;
    padding: 63px 30px 20px;
  }

  header nav {
    display: inline;
  }

  header nav .btn button {
    margin-left: 0;
    width: 90%;
    margin-top: 15px;
  }

  header main {
    display: inline;
  }

  header main div.wallpaper {
    margin-left: 40px;
    display: none;
  }

  section img {
    display: none;
  }

  main.about div.row-card {
    margin-top: 70px;
    display: inline;
    text-align: center;
  }

  article div.rowart {
    display: inline;
  }

  article div.rowart div.colart-1 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  article div.rowart div.colart-2 div h1 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 174px;
    margin-left: 40px;
  }

  article div.rowart div.colart-2 .ul-features {
    padding-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }

  summary div.people div.arrow .ar {
    display: none;
  }

  summary div.people div.figure {
    margin-top: 60px;
    box-shadow: 0px 5px 70px rgba(197, 197, 197, 0.15);
    border-radius: 30px;
    background-color: white;
    width: 70%;
  }

  article div.row div.col-2 {
    padding-bottom: 30px;
  }

  footer div.contact {
    margin-top: 30px;
    display: inline-block;
  }

  footer div.numb {
    display: inline-block;
  }

  article {
    padding-bottom: 20px;
  }

}